name: Build WebView APK

on:
  workflow_dispatch:
    inputs:
      job_id:
        required: true
      app_dir:
        required: true

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: "17"

      - name: Setup Android SDK
        uses: android-actions/setup-android@v3

      - name: Install Gradle
        run: sudo apt-get update && sudo apt-get install -y gradle

      - name: Debug structure
        working-directory: ${{ inputs.app_dir }}
        run: |
          echo "CURRENT DIR:"
          pwd
          echo "FILES:"
          ls -la

      - name: Build Debug APK
        working-directory: ${{ inputs.app_dir }}
        run: |
          gradle :app:assembleDebug

      - name: Upload APK artifact
        uses: actions/upload-artifact@v4
        with:
          name: apk-${{ inputs.job_id }}
          path: ${{ inputs.app_dir }}/app/build/outputs/apk/debug/app-debug.apk
